/* This is for the main big screen*/
main{
  background-color: #556b2f;
}


body{
  background-color: #ece2b1;
  color: #151618;
}


/* This is for the small screen */
@media (max-width: 750px) {
  main{
    background-color: #b07946;
  }
  
  body {
    background-color: #efe4d4;
  }
}

.responsive {
  max-width: 100%;
  height: auto;
}



/* Styling the navigation links */
nav a {
  color: #027500; 
  text-decoration: none; 
  font-weight: bold; 
}

nav a:hover {
  color: #8f07ff; 
}

nav a:visited {
  color: #ac5915; 
}

nav a:active {
  color: #900C3F; 
}
