/* Large screen styles */
body {
  background-color: #a9a454; 
  color: #151618; 
}

main {
  background-color: #556b2f;
}


@media (max-width: 750px) {
  body {
    background-color: #efe4d4; 
  }
  
  main {
    background-color: #b07946; 
  }

  /* Adjust the logo size for small screens */
  .responsive-logo {
    width: 60px; 
  }
}

/* Responsive image styling for all images */
.responsive {
  max-width: 100%; 
  height: auto;
}


.responsive {
  max-width: 100%;
  height: auto;
}

  p {
    font-size: 28px;
    font-weight: bold
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

  
/* center captions */
figcaption{
  text-align: center;
}


/* Styling the navigation links */
nav a {
  color: #027500; 
  text-decoration: none; 
  font-weight: bold; 
}

nav a:hover {
  color: #fdfdfd; 
}

nav a:visited {
  color: #ffffff; 
}

nav a:active {
  color: #f7f7f7; 
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 10px; 
}


/* Large screen: Vertical navigation */
.navcontainer {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 10px; 
}

/* Sidebar and horizontal layout on small screen */
@media (max-width: 750px) {
  .navcontainer {
  flex-direction: row; 
  justify-content: space-around; 
  }

  .SponserLogo{
    background-color: #6f4e37;
  }
}


/* Sidebar and horizontal layout on large screen */
.layout {
  display: flex;
  flex-direction: row; 
  height: 100vh; 
}

nav {
  width: 20%; 
  height: 100%; 
  background-color: #016312;
}

main {
  width: 80%; 
  height: 100%; 
  overflow-y: scroll; 
}

/* Layout for the small screen */
@media (max-width: 750px) {
  .layout {
      flex-direction: column; 
  }

  nav {
  width: 100%; 
  height: auto;
  }

  main {
  width: 100%; 
  height: auto; 
  }
}

/* CSS for images */
.SponserLogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  gap: 10px; 
  margin-top: 20px; 
}

.SponserLogo img {
  width: 100px; 
  height: auto; 
}

.SponserLogo{
  background-color: white;
}


@media (max-width: 750px) {
  .SponserLogo{
    background-color: #6f4e37;
  }
}



/* Makes the NAV look like buttons */
.navcontainer a {
  display: inline-block;             
  padding: 10px 20px;                
  background-color: #4CAF50;         
  color: white;                      
  text-align: center;               
  text-decoration: none;             
  font-size: 16px;                   
  margin: 5px 0;                     
}